{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<div class="container">
    <p>Site Hébergé chez 'biduletruc.com'</p>
    <p>Responsable héditorial Steeve Graebling</p>
</div>
{% endblock %}
